body{
	background-color:#000000;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.bandLogo{
	object-fit: fill;
}

.band-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
}

.aboutBand{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#navbar{
	background-color:#000000;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:#fff;
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

